@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    height: 70px;
    background-color: $color-bg-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $color-text-primary;
    z-index: 10000;
}

.header .logo-text-link {
    font-family: 'Baloo 2';
    font-size: 40px;
    color: $color-celeste;
    text-decoration: none; 
    display: flex;
    align-items: center;
}

.header .logo-text {
    display: inline-block;
    line-height: 1.45;
}
