@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #00000000;
  max-width: 1400px;
  margin: 50px auto 0;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  width: 100%;
}

.card {
  display: flex;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  gap: 30px;
  background: #fff;
  border: 3px solid #000;
  box-shadow: 12px 12px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
  flex-direction: column;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #000;
  background-color: $bg-hover;
}

.card__title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.card:hover .card__title::after {
  transform: translateX(0);
}

.card__content {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 20px;
  flex-grow: 1;
}

.card__more {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 20px;
  flex-grow: 1;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
}

.card__button {
  border: 3px solid #000;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  width: 100%;
  align-self: center;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
}

.card__button::before {
  content: "Continuar";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: $color-rosado-hover;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.card__button:hover::before {
  transform: translateY(0);
}

.card__button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1024px) {
  .main-layout-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 100%;
    width: 100%;
  }
}



@keyframes glitch {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

.glitch {
  animation: glitch 0.3s infinite;
}

