@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #000;
    border: 2px solid $color-text-primary;
    text-decoration: none;
    padding: 10px 16px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.2s ease-in-out;
    min-width: 100px;
    text-align: center;

    &.plataforma-button {
      background-color: $color-celeste;
      color: $color-text-primary;

      &:hover {
        background-color: $color-celeste-hover;
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
      }

        &:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
      }
    }

    &.register-button {
      background-color: $color-rosado;
      color: $color-text-primary;

      &:hover {
        background-color: $color-rosado-hover;
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
      }

        &:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
      }
    }
  }
}